<section class="project" id="{{ id }}">
  <div class="project__main">
    <div class="project__content">
      <div class="project__content--title">
        <h2 class="section-title">{{ title }}</h2>

      </div>
      <div class="project__content--paragraph">
        <p class="section-text">{{ text }}</p>
      </div>
      <div class="project__cta cta-button">
        <a>Show more</a>
      </div>
    </div>
    <div class="project__image">
      <img src={{mainImgUrl}} alt="">
    </div>
  </div>


</section>