<section class="about" id="about">
  <div class="about__main">
    <div class="about__content">
      <div class="about__content--title">
        <h2 class="section-title">About</h2>
        <p class="section-subtitle">Who am I?</p>
      </div>
      <div class="about__content--paragraph">
        <p class="section-text">I was born in Poznań in 1995 and with my creative and fast learning abilities, I have transferred my knowledge from being a physicist towards the path of a frontend developer. I have worked on numerous research and development projects associated with both academic and commercial sectors, however I have always felt my place was elsewhere. In my youth, I have paid a lot of attention to art, a sense of aesthetics, and the basics of design. Currently, I have decided to use my previous experience and start of a new path of development. In 2021, I started postgraduate studies in web development in order to combine all this knowledge.</p>
      </div>
    </div>
    <div class="about__image">
      <img src="/assets/person.png" alt="Picture of Szymon Motała">
    </div>
  </div>

  <div class="about__cta cta-button">
    <a [routerLink]="'/about'">Get to know me</a>
  </div>
</section>