@import '../../../assets/styles/variables';

.svg-container {
  width: 6rem;
  height: 6rem;
  display: block;

  @media screen and (max-width: $md-max) {
    width: 4rem;
    height: 4rem;
  }
  
  svg {
    width: inherit !important;
    height: inherit !important;
  }
}