<header class="project-page__hero container">
  <div class="project-page__hero--title">
    <p class="subtitle">
      Project
    </p>
    <h1 class="title">
      {{ projectData.title }}
    </h1>
  </div>
</header>

<main class="project-page__main container">
  <section class="project-page__intro">
    <text-block [title]="'Main concept'" [text]="projectData.concept" [subtitle]="''"></text-block>
  </section>

  <section class="project-page__passions">
    <text-block [title]="'Development'" [text]="projectData.development" [subtitle]="''"></text-block>
  </section>

  <section class="project-page__media">
    <gallery [elements]="images"></gallery>
    <div class="cta-button">
      <a [href]="projectData.redirect" target="_blank" rel="noopener noreferrer">Visit page</a>
    </div>
  </section>
</main>

<app-footer></app-footer>