@import '../../../assets/styles/variables';

.footer {
  &__social-media {
    margin-top: 10rem;

    @media screen and (max-width: $md-max) {
      margin-top: 5rem;
    }
    
    &--list {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 10rem;
      list-style: none;

      @media screen and (max-width: $sm-max) {
        height: 6rem;
        justify-content: space-around;
      }
    }


    &--item {
      height: 100%;
      width: 20%;
      background: rgba($color: #000, $alpha: 0.5);
      border-top: 0.1rem solid rgba($color: #fff, $alpha: 0.1);
      border-right: 0.1rem solid rgba($color: #fff, $alpha: 0.1);
      box-shadow: 0 0 4rem rgba($color: #FFF, $alpha: 0.05);
      color: #334141;

      &:not(:last-child) {
        margin-right: 2.4rem;
      }

      &:hover {
        color: $main-color;
        box-shadow: 0 0 4rem rgba($color: $main-color, $alpha: 0.7);
      }

      a {
        display: grid;
        justify-content: center;
        align-items: center;
        color: inherit;
        height: 100%;
        width: 100%;
        font-size: 2rem;
        text-transform: uppercase;
        text-decoration: none;
      }

      @media screen and (max-width: $sm-max) {
        width: 25%;
        &:not(:last-child) {
          margin-right: 0;
        }
      }
    }
  }

  &__copyrights {
    color: #FFF;
    padding: 3rem 0 1rem;
    text-align: center;
  }
}
